<ion-header>
  <ion-toolbar>
    <ion-title>
     CALCULADORA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>

    <ion-item>

      <ion-label color ="dark">Primeiro número</ion-label>
      <ion-input type="number" [(ngModel)] = "primeiroNumero"></ion-input>

    </ion-item>

    <ion-item>

        <ion-label color ="dark">Segundo número</ion-label>
        <ion-input type="number" [(ngModel)] = "segundoNumero"></ion-input>
  
      </ion-item>


      <ion-item>

        <ion-label>Resultado:<span class="result">{{resultado}}</span></ion-label>

      </ion-item>

</ion-list>


<ion-grid>
    <ion-row>
      <ion-col>
          <ion-button expand="full" color="dark" (click) = "add()">+</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="full" color="dark" (click) = "sub()">-</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="full" color="dark" (click) = "mult()">x</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="full" color="dark" (click) = "div()">/</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
